*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121827;
    color: #fff;
}

h1{
    color:#0D9488;
    text-align: center;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}

h2{
    color:#0D9488;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 400px;
    border-radius: 10px;
}

p{
    padding: 20px;
    margin: 20px;
}

li{
    padding: 5px 0 5px 20px;
    list-style: none;
}

.content{
    width: 800px;
    margin: 0 auto;
}
.menu{
    margin: 0 auto;
    width: 20%;
    text-align: center;
}